<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Bin level</title>
  </head>
  <body>
    <!-- <div th:each="data : ${data}">
      <div class="bins-container">
        <div>
          <p>Bin 1: <span th:text="${data.distance_1}"></span> cm</p>
          <div class="bin-container">
            <div
              class="bin-level bin-level-1"
              th:style="'height:' + ${data.distance_1} + 'cm;' + (${data.distance_1} >= 20 ? 'background-color: #ff0000;' : '')"
            ></div>
          </div>
        </div>

        <div>
          <p>Bin 2: <span th:text="${data.distance_2}"></span> cm</p>
          <div class="bin-container">
            <div
              class="bin-level bin-level-2"
              th:style="'height:' + ${data.distance_2} + 'cm;' + (${data.distance_2} >= 20 ? 'background-color: #ff0000;' : '')"
            ></div>
          </div>
        </div>
      </div>
    </div> -->

    <div th:each="data : ${data}">
      <input
        type="text"
        id="dist1"
        style="display: none"
        th:value="${data.distance_1}"
      />
      <input
        type="text"
        id="dist2"
        style="display: none"
        th:value="${data.distance_2}"
      />
    </div>

    <div id="bin-container">
      <div>
        <h2 class="bin-text">PLASTICS</h2>
        <canvas id="bin1"></canvas>
      </div>
      <div>
        <h2 class="bin-text">OTHER WASTE</h2>

        <canvas id="bin2"></canvas>
      </div>
    </div>

    <div>
      <canvas id="daily-stats"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      var data1 = document.getElementById("dist1").value;
      var dist2 = document.getElementById("dist2").value;
      var l1 = 53 - data1;
      var l2 = 40 - dist2;
      const ctx = document.getElementById("bin1");
      const ctx2 = document.getElementById("bin2");
      const ctx3 = document.getElementById("daily-stats");

      new Chart(ctx, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [data1, l1],
              backgroundColor: ["red", "green"],
              hoverOffset: 4,
            },
          ],
        },
      });

      new Chart(ctx2, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [dist2, l2],
              backgroundColor: ["red", "green"],
              hoverOffset: 4,
            },
          ],
        },
      });

      new Chart(ctx3, {
        type: "radar",
        data: {
          labels: [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday",
          ],
          datasets: [
            {
              label: "Daily waste",
              data: [18, 29, 13, 45, 12, 37, 42],
              fill: true,
              backgroundColor: "rgba(255, 99, 132, 0.2)",
              borderColor: "rgb(255, 99, 132)",
              pointBackgroundColor: "rgb(255, 99, 132)",
              pointBorderColor: "#fff",
              pointHoverBackgroundColor: "#fff",
              pointHoverBorderColor: "rgb(255, 99, 132)",
            },
            {
              label: "Daily waste",
              data: [72, 19, 3, 15, 12, 18, 52],
              fill: true,
              backgroundColor: "rgba(54, 162, 235, 0.2)",
              borderColor: "rgb(54, 162, 235)",
              pointBackgroundColor: "rgb(54, 162, 235)",
              pointBorderColor: "#fff",
              pointHoverBackgroundColor: "#fff",
              pointHoverBorderColor: "rgb(54, 162, 235)",
            },
          ],
        },
      });
    </script>
  </body>
</html>
