<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div id="frame">
      <div id="home-icon"></div>
      <div>
        <h1 id="home-welcome">Welcome</h1>
        <form action="/bin" method="get">
          <button class="button">PROCEED</button>
        </form>
      </div>
    </div>
  </body>
</html>
